.order-detail{
  .page-header{
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 30px;
    .blue{
      font-size: 16px;
    }
  }
  .total{
    font-size: 15px;
    margin: 25px 0;
    span{
      color: #e4393c;
    }
  }
  .card{
    background: #ECECEC;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
  }
}